{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% load static %}

{% block content %}
	<div class="container mt-5 text-center">
		<img src="{% static 'aux_features/library_icon' %}" class="mt-5 mx-auto d-block" width="30%" height="30%" alt="Error!">
	</div>
	<div class="container text-center">
		<div class="raw mt-4 lead">
			<p> All over the world, local libraries offer millions of ebooks and audiobooks. You can borrow them — for free, instantly — with a library card and our the award-winning, much-loved web application for libraries.</p>
		</div>
	</div>
{% endblock content %}